table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 450px;
  height: 450px;
}

td {
  width: 12.5%;
  height: 12.5%;
}

.white-square .black-square {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.white-square {
  background-color: #ccb7ae;
}

.black-square {
  background-color: #706677;
}

.highlighted {
  filter: brightness(85%)
}

.button-square {
  background: none;
  border: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
